# Python
__pycache__/
*.pyc
*.pyo
*.spec

# Build
dist/
build/

# Node
node_modules/
package-lock.json

# Env
.token
.env

# OS
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/
*.swp
*.swo

# Logs
*.log

# Temp
tmp-*/
